server:
  port: 8089

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/case_db
    username: root
    password: test1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
logging:
  charset:
    console: UTF-8
    file: UTF-8
  level:
    root: info
    org:
      springframework:
        security: debug
      hibernate:
        stat: error
        type: error
    sql: error
    web: error
  pattern:
    file: '%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n'
  file:
    path: logs
