server:
  port: 8089

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/case_db
    username: root
    password: test1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

